.accountDetails-wrapper {
  width: 250px;
  height: 100%;
  background-color: gainsboro;
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-top: 6px;
      border: 1px solid lightgray;
}
.account-details-main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.accountDetails-wrapper a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 0;
  background-color: var(--quaternary);
  width: 100%;
  font-weight: 500;
  transition: 0.5s;
  margin-top: 0.4rem;
  border-radius: 5px;
}
.accountDetails-wrapper a:hover {
  background-color: var(--primary);
  box-shadow: 1px 2px 4px gainsboro;
  color: white;
}
.display-Account-details-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  justify-content: flex-start;
  flex: 1;
  height: 100%;
}

.address-link {
  padding: 7px 12px;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
  text-decoration: none;
}

.old-address-info {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  outline-style: auto;
  text-align: start;
}
.old-address-info button {
  padding: 7px 12px;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
}
.address-edit-delete-btns {
  display: flex;
  gap: 5px;
  justify-content: space-around;
}
.address-edit-delete-btns button {
  padding: 5px 18px;
  border-radius: 0;
}
@media (max-width: 800px) {
  .account-details-main-wrapper {
    flex-direction: column;
  }
  .accountDetails-wrapper {
    height: fit-content;
    flex: 1;
    width: 100%;
  }
}
