.address-card-container{
    width: 300px;
    height: 300px;
    height: fit-content;
    background-color: gainsboro;
    display: flex;
    position: relative;
    display: flex;
    margin: 1rem;
}
.address-card{
    height: fit-content;
    padding: 1rem;
    width: 100%;
    margin: 1rem;


}
.addressCard-edit-delete-btns{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

}
.addressCard-edit-delete-btns button{
    background-color: var(--primary);
    border: none;
    color: white;
    height: 2rem;
    width: 5rem;
    font-weight: 600;
    border-radius: 5px;
}
.addressCard-name{
    font-size: large;
    color: tomato;
    font-weight: 500;
}
.cross-btnIcon-addressCard{
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    right: 0;
    
}