@media (max-width: 600px) {
  .product-demo-container {
    width: 50%;
  }
  .product-img {
    width: 50%;
  }
  .detail-cart-content{
    padding-left: 1rem;
  }

}

.product-demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 5px 15px 2px var(--quinary);
  width: 250px;
  padding-bottom: 1rem;
  position: relative;
  height: 100px;
  left: 6rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 2rem;
}

.product-img {
  width: 250px;
  position: relative;
  right: 3rem;
  left: -0.3px;
  bottom: 4rem;
}
.buy-now-btn {
  padding: 3.2px 14px;
  border-radius: 3px;
  border: solid 2px var(--secondary);
  box-shadow: 10px 5px 5px var(--quaternary);
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  position: relative;
  top: -6.2rem;
  right: 6px;
}
.cart-btn {
  padding: 3px 5px;
  border-radius: 3px;
  border: solid 2px var(--secondary);
  position: relative;
  bottom: 6.2rem;
  left: 6px;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  box-shadow: 10px 5px 5px var(--quaternary);
}
.buy-now-btn:hover {
  background-color: var(--tertiary);
  color: var(--quaternary);
  transition: 0.3s;
}
.cart-btn:hover {
  background-color: var(--tertiary);
  color: var(--quaternary);
  transition: 0.3s;
}
.product-price-container {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--quinary);
  font-size: 0.8rem;
  bottom: 2rem;
}
.buyNow-btn2 {
  padding: 4px 4px;
  background-color: var(--quinary);
  color: var(--secondary);
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 0 15px var(--quaternary);
}
.product-demo-text {
  display: flex;
  font-size: 1rem;
  position: relative;
  bottom: 8.6rem;
  flex-wrap: nowrap;
  right: 1rem;
}


.product-price2 {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.productListingCard-wrapper {
  height: 320px;
  width: 220px;
  background-color: var(--quaternary);
  box-shadow: 0 0 15px var(--quinary);
  margin-bottom: 10rem;
}
.listing-img {
  height: 130px;
  width: 200px;
  padding-top: 1rem;
}
.productListingCard-text {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.listingCard-buyNow-btn {
  padding: 4px 2rem;
  background-color: var(--secondary);
  color: var(--tertiary);
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 0 15px var(--quaternary);
  box-shadow: 0 0 15px var(--quinary);
}

.listingCard-buyNow-btn:hover {
  background-color: var(--primary);
  color: var(--tertiary);
}
.detail-card-wrapper{
  display: flex;
  background-color: rgb(255, 172, 158);
  width: 45%px;
  height: 300px;
  margin: 6px;
}
.detail-card-img{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
}
.detail-card-content{
flex-direction: column;
height: 100%;
width: 50%;
color: var(--tertiary);
box-sizing: border-box;
word-wrap: break-word;
letter-spacing: 1px;
text-indent: 1cm;
text-transform:capitalize;
text-shadow:4px 4px 8px var(--primary);
}
.cardDetail{
word-wrap: break-word;
}
