@media (max-width: 600px){
  .webfooter-wrapper {
    padding-left: 1.6rem;
}
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 0;
  flex-basis: 5rem;
  background-color: var(--quaternary);
}
.footer-links-wrapper {
  
  display: flex;
  font-size: larger;
  gap: 1rem;

  justify-content: center;
  align-items: center;
}
.footer-links {
  text-decoration: none;
  color: var(--tertiary);
  font-weight: bold;
}
.webfooter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-basis: 4rem;
  padding: 4rem 0;
  background-color: var(--quaternary);
}
.webfooter-links-wrapper {
  display: flex;
  font-size: xx-large;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.webfooter-links {
  color: var(--tertiary)
}
