.detail-card-in-landing-page{
    display: flex;
    flex-wrap: wrap;
    gap: .1rem
}
@media (max-width:600px) {
    .detail-card-in-landing-page{
        display: flex;
        gap: 1rem;
    }

 
}