.detail-card-in-landing-page {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .detail-card-in-landing-page {
    display: flex;
    gap: 0.5rem;
  }
  .detail-card-wrapper{
    width: 100%;
  }
  .detail-card-in-landing-page {
    display: flex;
    padding: 0 7px;
    flex-direction: column;
    padding-top: 7px;
  }
  .detail-card-content {
    width: fit-content;
    height: fit-content;
    padding-right: 0.5rem;
  }
}
