.navbar-wrapper{
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: hsl(120, 55%, 44%);
    box-shadow: 0 0 2px 2px hsl(120, 59%, 67%);
}
.navbar-input{
    position: absolute;
    padding: 6px 5rem;
    overflow: hidden;
    top: 5px;
    left: 40rem;
}
.unorderedList-wrapper{
    display: flex;
    align-items: center;
    list-style: none;
    padding:  0 18px;
    position: relative;
    left: 60rem;
    gap: 1rem;
    bottom: 7px;
    color: white;
    font-weight: 600;
}
.flipcart-logo{
    color: white;
    text-decoration:underline;
    position: relative;
    bottom: 7px;
    padding-left: 1rem;
    
}
.cart-icon{
    padding-right: 1px;
    font-size: large;
    font-weight: 600;
}
.wishlist-icon{
    padding-right: 1px;
    font-size: large;
    font-weight: 600;

}
