.navbar-wrapper {
  box-shadow: var(--primary) 0px 2px 4px;
  display: flex;
  flex-basis: 2rem;
  padding: 1rem 0;
  background-color: var(--primary);
  justify-content: space-between;
}

.navbarLinks-wrapper {
  display: flex;
  align-items: center;
  height: 2rem;
  justify-content: center;
  gap: 4px;
  width: 100%;
  color: var(--tertiary);
  font-size: large;
  background-color: var(--quaternary);
  box-shadow: #cfc5c5 0 0px 2px 2px;
}

.navbar-bottom-links {
  display: flex;
  justify-content: center;
  color: var(--tertiary);
  text-decoration: none;
  width: 100vh;
}

.flipcart-text {
  color: var(--secondary);
  text-decoration: underline;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: center;
}

.navbar-products-link-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.navbar-products-link {
  display: flex;
  padding-left: 4rem;
  font-size: 23px;
  padding-bottom: 2px;
  text-align: center;
  color: var(--secondary);
  text-decoration: none;
  position: absolute;
  bottom: 9px;
  font-weight: 700;
}

.navbar-products-link-ph{
  font-family: bold;
  padding-right: 1rem;
  text-decoration: none;
}

.navbar-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  padding-top: 8px;
  align-items: center;
}

.navbar-input {
  height: 1.6rem;
  width: inherit;
  border-radius: 4px;
  overflow: hidden;
  border: solid 1px var(--secondary);
}

.navbar-input:active {
  border: solid 1px var(--secondary);
}

.navbar-links {
  text-decoration: none;
  font-size: larger;
  color: var(--secondary);
  text-align: center;
}

.navbar-links-wrapper {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  padding-right: 2rem;
  text-wrap: nowrap;
}

.navbar-icon-links-wrapper {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
}

.cart-icon {
  font-size: larger;
  color: var(--secondary);
  font-size: xx-large;
}

.wishlist-icon {
  font-size: xx-large;
  color: var(--secondary);
}

.search-icon {
  font-size: larger;
  color: var(--primary);
  position: absolute;
  width: 1rem;
  top: -12px;
  right: 0.5rem;
}

.responsiveNavbar {
  box-shadow: var(--primary) 0px 2px 4px;
  display: flex;
  flex-basis: 50px;
  min-width: 100%;
  margin: 0;
  padding: 1rem 0;
  color: var(--secondary);
  background-color: var(--primary);
}

.flipcart-text-ph {
  font-size: 20px;
  color: var(--secondary);
  text-decoration: none;
  text-align: center;
  padding-left: 7px;
}
.navbar-products-link-ph{
  font-size: 20px;
  color:  var(--secondary);
  text-decoration: none;
  text-align: center;
  padding-left: 7px;
}

.phn-view-input{
  padding: 4px;
  align-items: center;
  border-radius: 6px;
  position: relative;
 border: solid 1px var(--secondary);
}
.phone-view-input-wrapper{
  width: inherit;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-icon-ph-wrapper{
  display: flex;
  flex-wrap: wrap;
  position: relative;

}
.search-icon-ph {
  position: absolute;
  color: red;
  left: -24px;
  top: -6px;
  text-align: center;
}
.search-icon-wrapper {
  position: relative;
}





@media (max-width: 1000px) {
  .navbar-wrapper {
    display: none;
  }

  .flipcart-text {
    padding-left: 1rem;
    font-size: 20px;
  }

  .navbar-products-link {
    font-size: 18px;

  }
  .navbar-products-link-wrapper {
    bottom: -5px;
  }
  .navbarLinks-wrapper {
    display: none;
  }
}

@media (min-width: 1000px) {
  .responsiveNavbar {
    display: none;
  }
}