@media (max-width: 600px) {
  .navbar-input {
    display: none;
  }
  .search-icon {
    display: none;
  }
  .navbar-wrapper {
    display: flex;
    align-items: center;
    padding-right: 0.1rem;
  }
  .navbar-links-wrapper {
    display: flex;
    padding-left: 90px;
  }
  .navbar-bottom-links{
    gap: 3px;
  }
  .navbarLinks-wrapper{
    font-size: small;
    width: inherit;
    padding: 0 2px;
    justify-content: center;
  }
  .e{
    display: none;
  }
  .beauty{
    display: none;
  }
  .fashion{
    display: none;
  }
  .plant{
    display: none;
  }
  
}

.navbar-wrapper {
  display: flex;
  width: 100%;
  flex-basis: 4rem;
  background-color: var(--primary);
  justify-content: space-between;
  position: relative;
}

.flipcart-text {
  color: var(--secondary);
  text-decoration: underline;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: center;
}

.navbar-input-wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.navbar-input {
  height: 1.6rem;
  width: inherit;
  border-radius: 4px;
  overflow: hidden;
  border: solid 1px var(--secondary);
}

.navbar-input:active {
  border: solid  1px var(--secondary);
}

.navbar-links {
  text-decoration: none;
  font-size: larger;
  color: var(--secondary);
  text-align: center;
}

.navbar-links-wrapper {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  margin-right: 5rem;
  text-wrap: nowrap;
}
.navbar-icon-links-wrapper {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
}

.cart-icon {
  font-size: larger;
  color: var(--secondary);
  font-size: xx-large;
}

.wishlist-icon {
  font-size: xx-large;
  color: var(--secondary);
}
.search-icon-wrapper {
  position: relative;
}
.search-icon {
  font-size: larger;
  color: var(--primary);
  position: absolute;
  width: 1rem;
  top: -12px;
  right: 0.5rem;
}
.navbarLinks-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  position: absolute;
  padding: .3rem 0;
  color: var(--tertiary);
  font-size: large;
  background-color: var(--quaternary);
  box-shadow: #cfc5c5 0 0px 2px 2px;
  
}
.navbar-bottom-links{
  text-decoration: none;
  color: var(--tertiary);
  font-size: large;

}