.sidebar-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
}


.sidebar-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 13rem;
    border-left:  solid  2px gray;
}