@media (min-width:800px) {
    .toggal-btn{
        display: none;
    }
    .toggal-btn-wrapper{
        display: none;
    }
 
}

.toggal-btn, .cross-btn{
    width: 4rem;
    margin-top: 0.4rem;
    height: 2rem;
    line-height: 66px;
}
.toggal-icon ,.cross-icon{
    font-size: xx-large;
    color: var(--primary);
}
.toggal-btn-wrapper{
    height: 100vh;
    margin: 0;
    padding: .5rem;
    width: 250px;
    position: absolute;

}
.toggal-btn-sidebar-wrapper{
    position: absolute;
    width: 100% ;
    left: -300px;
    transition: all 0.3s linear;

}
.btns-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    position: absolute;
    z-index: 1;

}
.cross-btn{
    position: absolute;
    right: 2px;
    top: -1px;
    opacity: 0;
    transition: all 0.3s linear;

}
#check{
    display: none;
}
#check:checked ~  .btns-wrapper .btn-two-wrapper .cross-btn {
    opacity: 1;
    transition: all 0.3s linear;
}
#check:checked ~ .toggal-btn-sidebar-wrapper {
    left: 0;
    opacity: 1;
    transition: all 0.3s linear;
}
@media (max-width: 800px) {
    .product-page-sidebar-wrapper {
      display: none;
      
    }
  
   
  }
